<section data-aos="fade-up" data-aos-duration="1000" class="about_page">
  <h1 class="h1-special">Our Fundraiser</h1>
  <article
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
    class="about__page_content"
  >
    <div class="about-text">
      <h1>Anything Helps!</h1>
      <p>
        Even the smallest donation counts! If you can get your family, friends,
        classmates, or anybody you know to help donate, you will be contributing
        to our success. If you'd like to, you could also bake, cook, or sell
        anything that you can to make a profit. Your profit will go towards NEGU
        in their journey to help children with cancer.
      </p>
      <div class="y-line"></div>
      <div class="about-image">
        <img src="Images/kid_picture.webp" alt="" />
      </div>
    </div>
    <div class="jar">
      <h1>Our current donations so far!</h1>
      <img src="Images/Image.webp" alt="" />
    </div>
  </article>
</section>
