<section class="about_page">
  <h1 class="h1-special">Our Fundraiser</h1>
  <article class="about__page_content">
    <div class="about-text">
      <h1>Anything Helps!</h1>
      <p>
        Even the smallest donation counts! If you can get your family, friends,
        classmates, or anybody you know to help donate, you will contributing to
        our success. If you'd like to; You could also bake, cook, or make
        anything that you can sell to make proffit. Your profit will go towards
        NEGU in their jounrey on helping children with cancer.
      </p>
      <div class="y-line"></div>
      <div class="about-image">
        <img src="Images/kid_picture.webp" alt="" />
      </div>
    </div>
    <div class="jar">
      <h1>Our current donations so far!</h1>
      <img src="Images/Image.webp" alt="" />
    </div>
  </article>
</section>
