<header>
  <nav class="nav">
    <a class="nav-logo" href="https://negu.org/"
      ><img src="Images/2019-NEGU-Logo-transparent-header-01.svg" alt=""
    /></a>
    <img id="triangle" src="Images/Triangle.webp" alt="" />
    <p class="nav-text">Welcome</p>

    <div id="nav-dropdown">
      <a class="make-a-donation" href="index.html">Welcome</a>
      <a class="make-a-donation" href="https://negu.org/about/">About us</a>
      <a
        class="make-a-donation"
        href="https://fundraise.givesmart.com/vf/NEGU/GWUOHS"
        >Donate</a
      >
      <a class="make-a-donation" href="https://www.instagram.com/teamNEGU/"
        >Follow us</a
      >
      <a
        class="make-a-donation"
        href="https://www.youtube.com/watch?v=G2WwyddWHjw"
        >Our story</a
      >
      <a class="make-a-donation" href="https://negu.org/">Website</a>
    </div>
  </nav>
</header>
