<section>
  <div class="hero">
    <div class="hero-title">
      <h1 class="hero-heading-one">
        <span>T</span><span>E</span><span>A</span><span>M</span>
      </h1>
      <h1 class="hero-heading">
        <span>N</span><span>E</span><span>G</span><span>U</span>
      </h1>
    </div>

    <div class="hero_bottom-left">
      <p class="gwuohs">
        GWUOHS <br />
        CLUB
      </p>
    </div>

    <div class="hero_bottom-right">
      <span>
        <img src="Images/Group-triangles.webp" alt="" />
      </span>
      <a
        class="make-a-donation"
        href="https://fundraise.givesmart.com/vf/NEGU/GWUOHS"
        >Make a donation</a
      >
    </div>
  </div>

  <div class="hero_footer">
    <p class="name">Created By Fenton Ekpenyong</p>
    <a class="official" href="https://negu.org/"
      >Click here > official website</a
    >
    <p class="follow">Follow us</p>
    <div class="socials">
      <a href="https://www.instagram.com/teamNEGU/"
        ><img src="/Images/instagram-brands-solid-full (1) (1).svg" alt=""
      /></a>
      <a href="https://www.youtube.com/c/NEGUNetwork"
        ><img src="/Images/youtube-brands-solid-full (1).svg" alt=""
      /></a>
      <a href="https://www.linkedin.com/company/teamnegu/"
        ><img src="/Images/linkedin-brands-solid-full (1).svg" alt=""
      /></a>
    </div>
  </div>
</section>
